@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./567c6b4e91dac0ed.ttf) format('truetype');
}
@font-face {
  font-family: 'Azeret Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./024e4766a9a5bbbf.ttf) format('truetype');
}
